@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);



.sidebar {
	margin-top: 10px;
	color: #999;
	font-size: 0.95em;
}

.small-sidebar { 
   width: 25%;
}

.big-sidebar {
	width: 30%;
}

.left-sidebar { 
	            float: left;
    margin-left: -247px;
    margin-top: -6px;
    width: 210px;
}
 @media(width:768px) {
	 .sidebar {
	margin-top: 10px;
	color: #999;
	font-size: 0.95em;
}



.big-sidebar {
	width: 30%;
}
	.left-sidebar { 
	                 
    float: left;
    margin-left: 302px;
    margin-top: -283px
 }}
.right-sidebar {
      float: right;
    margin-right: -334px;
    margin-top: -484px;
    width: 319px;
}



.sidebar h4 {
	padding-bottom: 0;
	font-size: 1.4em;
	color: #555;
	letter-spacing: -1px;
	padding: 0;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	

}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;
	padding: 10px;
	
}

.sidebar ul li.bg, .sidebar ul li.bg h4, .sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	background-color: #699BBA;
	color: #fff;
}
.sidebar ul li.bg a, .sidebar ul li.bg a:hover {
	border-bottom-color: #fff;
}


.sidebar li ul {
    list-style: none outside none;
    margin: 0px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 10px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 1.5em;
	
}

.sidebar li ul li ul {
	margin-top: 10px;
}

.sidebar li ul li li  {
	font-size: 1.0em;
	padding-left: 15px;
}



.sidebar li ul li.text { 
	border-bottom: none;
}



.sidebar li a {

	 border-bottom-color: #ccc;
	color: #999;
}


.sidebar li a:hover {
	color: #333;

	 border-bottom-color: #333;
}
.sidebar li ul li a.readmore {
   font-weight: bold;
}


.sidebar li.color-bg {
	background-color: #f0f0f0;
}

.sidebar li.color-bg h4 {
	color: #555;
}

.sidebar ul.blocklist li {
    padding-left: 30px;
    margin-left: -19opx;
    margin-right: 31px;
}

.sidebar ul.blocklist li a,
.sidebar ul.blocklist li a:hover {
	border-bottom: 0;
	display: block;
	padding: 12px 10px;
}

.sidebar ul.blocklist li a.selected {
	background:#699BBA;
    color: #FFFFFF;
	font-weight: bold;

}
.sidebar li ul.blocklist li li {
	font-size: 1.0em;
}

.sidebar li ul.blocklist ul {
	margin-top: 0;
}

.sidebar li ul.blocklist li li a,
.sidebar li ul.blocklist li li a:hover {
	padding-left: 25px;
}

.sidebar ul.newslist li {
	padding: 20px 0px;
}

.sidebar ul.newslist p {
	line-height: 2.5em;
	margin-bottom: 0;
}

.sidebar ul.newslist span.newslist-date { 
	background-color: #699BBA;
	color: #fff;
	padding: 5px 10px;
}


@media screen and (max-width: 740px) {

	

	
	.width {     width: auto;
    padding-left: 402px;
    padding-right: 0px;
    margin-top: -2px; }
	.width1 {         width: auto;
    padding-left: 0px;
    padding-right: 680px;
    margin-bottom: 30px;
    margin-top: 499px;; }
	
	
}


@media screen and (max-width: 540px) {


	

	div#intro .intro-content { padding: 20px 5px; }
	
	div#intro div.intro-content-short { padding: 20px 5px 10px; }

	div#body { margin-top: 10px; padding: 10px 5px 20px } 

	.full-width .width { margin: 0 0.2%; }

	.fixed-header #body { padding-top: 220px; }

	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 0; }

	.footer-content { padding: 20px 20px; }


}


